/*
 * wetchBox
 *
 * Developped By: Pol Alegria (http://www.webscoming.me/wetchBox)
 * Creadits: Webscoming (http://www.webscoming.com)
 * Version: 0.2
 */

/* ==========================================================================
   Base styles
   ========================================================================== */

  
/* ==========================================================================
   CheckBox
   ========================================================================== */  
   
.wetchBox.checkbox {
    background-color: rgba(255, 255, 255, 0.05);
    border: 1px solid rgba(155, 155, 155, 0.57);
    -webkit-border-radius: 1px;
       -moz-border-radius: 1px;
            border-radius: 1px;
    cursor: pointer;
    display: inline-block;
    font-size: 1px;
    height: 11px;
    margin: 0 4px 0 1px;
    outline: 0 none;
    position: relative;
    vertical-align: middle;
    width: 11px;  
}

.wetchBox.checkbox.hover {
    border: 1px solid #B2B2B2;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1) inset;
       -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1) inset;
            box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1) inset;
}

.wetchBox.checkbox.checked {
    background-color: rgba(255, 255, 255, 0.65);
}

.wetchBox.checkbox > span {
    display: block;
    height: 15px;
    left: 0;
    position: relative;
    top: -3px;
    width: 15px;
}

.wetchBox.checkbox > span.checked {
    background: url("checkmark.png") no-repeat -5px -3px;
}

.wetchBox.checkbox > span > input[type="checkbox"] {
    cursor: pointer;
    position: relative;
}

/* ==========================================================================
   RadioButton
   ========================================================================== */  
      
.wetchBox.radio {
    background-color: rgba(255, 255, 255, 0.05);
    border: 1px solid rgba(155, 155, 155, 0.57);
    -webkit-border-radius: 50%;
       -moz-border-radius: 50%;
            border-radius: 50%;
    cursor: pointer;
    display: inline-block;
    font-size: 1px;
    height: 13px;
    margin: 0 4px 0 1px;
    outline: 0 none;
    position: relative;
    vertical-align: middle;
    width: 13px;  
}

.wetchBox.radio.hover {
    border: 1px solid #B2B2B2;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1) inset;
       -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1) inset;
            box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1) inset;
}

.wetchBox.radio.checked {
    background-color: rgba(255, 255, 255, 0.65);
}

.wetchBox.radio > span {
    -webkit-border-radius: 50%;
       -moz-border-radius: 50%;
            border-radius: 50%;
    display: block;
    height: 5px;
    left: 4px;
    position: relative;
    top: 4px;
    width: 5px;
}

.wetchBox.radio > span.checked {
    background: #555;
}

.wetchBox.radio > span > input[type="radio"] {
    cursor: pointer;    
    left: -5px;
    position: relative;
    top: -5px;  
}

/* ==========================================================================
   Hidden Class
   ========================================================================== */  

.transparent {
	/* Required for IE 5, 6, 7 */
	/* ...or something to trigger hasLayout, like zoom: 1; */
	width: 100%; 
		
	/* Theoretically for IE 8 & 9 (more valid) */	
	/* ...but not required as filter works too */
	/* should come BEFORE filter */
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	
	/* This works in IE 8 & 9 too */
	/* ... but also 5, 6, 7 */
	filter: alpha(opacity=0);
	
	/* Older than Firefox 0.9 */
	-moz-opacity:0;
	
	/* Safari 1.x (pre WebKit!) */
	-khtml-opacity: 0;
	
	/* Chrome and iOs */
	-webkit-opacity: 0;	
    
	/* Modern!
	/* Firefox 0.9+, Safari 2?, Chrome any?
	/* Opera 9+, IE 9+ */
	opacity: 0;
}